/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
	font-family: 'iconfont';
	/* Project id 4451831 */
	src: url('//at.alicdn.com/t/c/font_4451831_w3tml890z6d.woff2?t=1709537103278') format('woff2'),
		url('//at.alicdn.com/t/c/font_4451831_w3tml890z6d.woff?t=1709537103278') format('woff'),
		url('//at.alicdn.com/t/c/font_4451831_w3tml890z6d.ttf?t=1709537103278') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 20px;
	/* 字体大小自行修改 */
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
	content: "\e638";
	color: #FC5632;
}

.icon-kugouyinle:before {
	content: "\eb7d";
	color: #D81E06;
}

.icon-bilibili:before {
	content: "\e609";
	color: #20B0E3;
}
